@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Work Sans');
* {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-family: Futura,Trebuchet MS,Arial,sans-serif; 
  
}
header { 
    display: block;
    color: white !important;
    height: 100vh;
    background-image: url('../images/Hero2.jpg');
    background-size: cover;
    background-position: 50%;
}
.headerTitle {
    max-width: 100%;
    height: 100vh;
    columns: 1;
}
.content {
    cursor: pointer;
    position: absolute;
    top: 5.8vw;
    right: 8.5vw;
    transform: translate(-50%, -50%);
}
#burger {
    position: relative;
    width: 3vw;
    height: 2vw;
    cursor: pointer;
}
#burger:before {
    content: '';
    position: absolute;
    background-color: white;
    width: 100%;
    height: 0.2vw;
    top: 0;
    transition: .2s all;
}
#burger:after {
    content: '';
    position: absolute;
    background-color: white;
    width: 100%;
    height: 0.25vw;
    bottom: 0;
    transition: .2s all;
}
#burger i {
    opacity: 1;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 0.2vw;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: .2S all;
}
#burger:hover i {
    width: 90%;
    transition: .2S all;
}
.burgeractive i {
    opacity: 0 !important;
    width: 0% !important;
}
h1 {
    margin-left: 7vw;
    padding-top: 3vw;
    font-weight: 200;
    font-size: 3.5vw;
} 
#gig {
    grid-column-start: 4;
}
.subTitle {
    display: block;
    text-align: center;
    font-size: 3vw;
    margin: 4vw 0;
}
.latestWork {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.latestWork h3 {
    font-family: 'Sacramento', cursive !important;
    font-size: 10vw;
    font-weight: 100;
    text-decoration: underline;
    justify-self: center;
    align-self: center;
}
.latestWork a {
    margin: 0 auto;
    width: 75%;
    height: 90%;
    justify-self: center;
    align-self: center;
}
.oceanImg {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    justify-self: center;
    align-self: center;
}
img {
    object-fit: inherit !important;
}
.buttonContainer{
    text-align:center;
    background-size:cover;
    overflow:hidden;
    padding-bottom: 2vw;
}
.fancy-btn{
    display:inline-block;
    position:relative;
    padding:10px 20px;
    border:2px solid black;
    color:black;
    font-family:'Dancing Script',serif;
    font-style:italic;
    font-size:30px;
    text-decoration:none;
    margin:20px auto;
    transition: color 0.4s
}
.fancy-btn:after{
    content:" ";
    border:2px solid rgba(0,0,0,0);
    display:inline-block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    transition:all 0.4s;
}
.fancy-btn:hover:after{  
    border:2px solid black;
    width: calc(100% - 10px);
    height: calc(100% + 10px); 
}
.parallaxSpacer {
    width: 100%;
    height: 60vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/Grace_Jane6.jpg')
}
.gigSetup {
    width: 80%;
    display: grid;
    grid-template-columns: 35vw 45vw;
    grid-gap: 3vw;
    margin: 0 auto;
}
.gigImg {
    margin-top: 3vw;
    width: 100%;
    float: right;
    height: auto;
    border-radius: 10%;
}
.gigsContainer {
    width: 100%;
    padding-bottom: 20vh;
}
.gig {
    font-size: 4vw;
    width: 100%;
    margin-top: 1vw;
    border-bottom: .2vw solid black;
    height: 5vw;
}
.gigsContainer h3 {
    font-size: 2.5vw;
    display: inline;
    text-decoration: underline;
}
.gig h3 {
    text-decoration: none;
    float: left;
    margin: .3vw;
}
.gigDate h3 {
    padding-top: .3vw;
    font-size: .8vw;
    margin: .3vw;
}
#gig a {
    float: right;
    margin: 0.6vw .1vw .1vw .1vw;
    padding: .5vw;
    font-size: 1.2vw;
    border: .1vw solid black;
    text-decoration: none;
}
@media only screen and (max-width: 1080px) { 
    .latestWork h3 {
        font-size: 13vw;
        margin: 0;
    }
    .oceanImg {
        width: 95%;
    }
    span a {
        border: 1px solid black;
        text-decoration: none;
        font-size:2.5vw;
        padding: .5vw;
    }
    .frameContainer {
        display: none;
    }
    .headerTitle {
        padding: 0;
        display: block;
        width: 75%;
    }
    .headerTitle h2 {
        font-size: 6vw;
        text-align: center;
        text-justify: center;
        margin-top: 0;
    }
    .headerTitle h1 {
        font-size: 10vw;
        padding: 0;
        float: left;
        text-align: none;
    }
    .subTitle {
        font-size: 5vw;
    }
    .gigSetup {
        display: block;
        font-size: 2vw; 
        width: 85%; 
    }
    .gigImg {
        display: none;
    }
    .gigsContainer h3 {
        font-size: 4vw;
    }
    .gigDate h3 {
        font-size: 1.5vw;
    }
    .fancy-btn {
        padding: 3vw 6vw;
        font-size: 4.5vw;
        margin: 6vw auto;
    } 
    .content { 
        top: 10vw;
        right: 7vw;
    }
    #burger {
        width: 10vw;
        height: 8vw;
    } 
    #burger:before {
        height: 1.2vw;
    }
    #burger i {
        height: 1.5vw;
    }
    #burger:after {
        height: 1.2vw;
    }
}