@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Work Sans');
* {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}
header { 
    display: block;
    color: white !important;
    height: 100vh;
    background-image: url('../images/Hero2.jpg');
    background-size: cover;
    background-position: 50%;
}
.headerContainer {
    padding: 1vw 0 0 7vw ;
    display: grid;
    grid-template-columns: 30vw repeat(7, 1fr);
    grid-gap: 2vw;
}
h1 {
    font-weight: 200;
    font-size: 3vw;
    margin-top: 1vh;
    display: inline;
} 
.headerContainer h2 {
    text-transform: uppercase;
    margin-top: 3.5vh;
    font-family: 'Work Sans', sans-serif;
    text-decoration: underline;
    font-size: 1.5vw;
    letter-spacing: .4vw;
    font-weight: 100;
}
#setter {
    grid-column-start: 4;
}
.navContainer h2:hover {
    color: lightgray;
}
a {
    color: inherit;
    font-family: inherit;
}
.subTitle {
    display: block;
    text-align: center;
    font-size: 3vw;
    margin: 4vh 0;
}
.latestWork {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.latestWork h3 {
    font-family: 'Sacramento', cursive !important;
    font-size: 10vw;
    font-weight: 100;
    text-decoration: underline;
    justify-self: center;
    align-self: center;
}
.latestWork a {
    margin: 0 auto;
    width: 75%;
    height: 90%;
    justify-self: center;
    align-self: center;
}
.oceanImg {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    justify-self: center;
    align-self: center;
}
img {
    object-fit: inherit !important;
}
.gigSetup {
    width: 65vw;
    display: grid;
    grid-template-columns: 20vw 15vw 15vw 15vw;
    margin: 0 auto;
    text-justify: center;
    text-align: center;
    text-decoration: underline;
    font-size: 1.5vw;
}
.buttonContainer{
    text-align:center;
    background-size:cover;
    overflow:hidden
}
.fancy-btn{
    display:inline-block;
    position:relative;
    padding:10px 20px;
    border:2px solid black;
    color:black;
    font-family:'Dancing Script',serif;
    font-style:italic;
    font-size:30px;
    text-decoration:none;
    margin:20px auto;
    transition: color 0.4s
}
.fancy-btn:after{
    content:" ";
    border:2px solid rgba(0,0,0,0);
    display:inline-block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    transition:all 0.4s;
}
.fancy-btn:hover:after{  
    border:2px solid black;
    width: calc(100% - 10px);
    height: calc(100% + 10px); 
}
.upcomingGigs {
    width: 50vw;
    display: grid;
    grid-template-columns: 8vw 10vw 20vw 15vw;
    margin: 0 auto;
    border: 1px solid black;
    text-justify: center;
    text-align: center;
}
h3, span {
    margin: 1vw;
    align-self: center;
    justify-self: center;
}
span a {
    border: 1px solid black;
    text-decoration: none;
    font-size:1.5vw;
    padding: .5vw;
    font-style:italic;
    font-family:'Dancing Script',serif;
}
#gig {
    grid-column-start: 4;
}


@media only screen and (max-width: 1080px) { 
    .upcomingGigs {
        width: 85vw;
        grid-template-columns: 20vw 20vw 25vw 20vw;
    }
    h3 {
        font-size: 2vw;
        margin: 0;
    }
    span a {
        border: 1px solid black;
        text-decoration: none;
        font-size:2.5vw;
        padding: .5vw;
    }
}
@media only screen and (max-width: 640px) {
    h1 {
        font-size: 4.5vw;
    }
    .headerContainer {
        grid-template-columns: 26vw repeat(5, 1fr);
        grid-gap: 3vw;
        padding: 1vw 8vw 0 8vw ;
    }
    .headerContainer h2 {
        font-size: 3.5vw;
    }
    #setter {
        grid-column-start: 3;
    }
    h3 {
        font-size: 2vw;
    }
    .frameContainer {
        display: none;
    }
}