.navContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white !important;
    text-align: center;
    transition: 0.7s;
}
.navLinks ul {
    margin-top: 30vh;
    
}
.closeBtn {
    position: fixed;
    top: 0.8vw;
    right: 8.5vw;
    padding: 2vw;
    font-size: 4vw;
    font-weight: 100;
}
li {
    list-style: none;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    text-decoration: underline;
    font-size: 3vw;
    letter-spacing: .4vw;
    width: 100%;
    margin: 3vw 0;
    font-weight: 100;
    text-align: center;
}
a {
    
    color: inherit;
    font-family: inherit;
}